@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --color-red:#F03C42;
    --color-blue:#222374;
    --text-black:#000000;
    --text-white:#FFFFFF;
    --color-light-gray:#CCCCCC;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover{
    color: unset;
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

 header {
    background-color: var(--color-red);
    height: 100px;
    display: flex;
    align-items: center;
}

header h1{
font-size: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: var(--text-white);
}


nav a{
    font-size: 14px;
    padding-left: 10px;
}

.instagram-link{
    display: flex;
    align-items: center;
}

.instagram-link img{
vertical-align: middle;
}

#our-space {
    background-color: var(--color-blue);
    padding: 20px;
}

#our-space h2{
    color: var(--text-white);
font-size: 32px;
}

.card-our-space{
    background-color: var(--color-light-gray);
    border-radius: 8px;
    margin: 20px 0px;
}

.card-our-space h3{
padding: 20px 0 0 20px;
font-size: 20px;
}
.card-our-space-content {
padding: 20px;
font-size: 14px;
}

#modalities h2{
    color: var(--color-red);
    font-size: 32px;
    margin: 20px 0px;
}

.card-modalities{
    background-color: var(--color-blue);
    border-radius: 8px;
    margin: 20px 0px;
}

.card-modalities h3{
   color: var(--text-white);
   padding: 20px 0px 0px 20px;
   font-size: 20px;
}

.card-modalities p{
    color: var(--color-light-gray);
    padding: 20px;
    font-size: 14px;
}

footer {
min-height: 262px;
background-color: var(--text-black);
color: var(--text-white);
padding: 60px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-footer{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    font-size: 14px;
}

.text-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}